# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.gradle/9.3.0/checksums/checksums.lock
/.gradle/9.3.0/checksums/md5-checksums.bin
/.gradle/9.3.0/checksums/sha1-checksums.bin
/.gradle/9.3.0/executionHistory/executionHistory.bin
/.gradle/9.3.0/executionHistory/executionHistory.lock
/.gradle/9.3.0/fileChanges/last-build.bin
/.gradle/9.3.0/fileHashes/fileHashes.bin
/.gradle/9.3.0/fileHashes/fileHashes.lock
/.gradle/9.3.0/fileHashes/resourceHashesCache.bin
/.gradle/9.3.0/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/.idea/modules/core/route-decorator.core.main.iml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/build/tmp/jar/MANIFEST.MF
/core/build/reports/tests/test/com.nazgulcz.routedecorator.geometry.GeometryUtilsTest/index.html
/core/build/reports/tests/test/com.nazgulcz.routedecorator.RouteDecoratorTest/index.html
/core/build/reports/tests/test/css/base-style.css
/core/build/reports/tests/test/css/style.css
/core/build/reports/tests/test/js/report.js
/core/build/reports/tests/test/index.html
/core/build/test-results/test/binary/output-events.bin
/core/build/test-results/test/binary/results-generic.bin
/core/build/test-results/test/TEST-com.nazgulcz.routedecorator.geometry.GeometryUtilsTest.xml
/core/build/test-results/test/TEST-com.nazgulcz.routedecorator.RouteDecoratorTest.xml
/core/build/tmp/compileJava/previous-compilation-data.bin
/core/build/tmp/compileTestJava/previous-compilation-data.bin
